{% extends 'index.html' %}

{% block content %}

<style type="text/css">
    #editor {
      padding: 5px 5px;
      margin: 2px;
      background-color: transparent;
      border: solid;
      border-color: #ccc;
      border-width: .3px;
    }
  
  
    .toggle {
      cursor: pointer;
      display: inline-block;
    }
  
    .toggle-switch {
      display: inline-block;
      background: #ccc;
      border-radius: 16px;
      width: 38px;
      height: 16px;
      position: relative;
      vertical-align: middle;
      transition: background 0.25s;
    }
  
    .toggle-switch:before,
    .toggle-switch:after {
      content: "";
    }
  
    .toggle-switch:before {
      display: block;
      background: linear-gradient(to bottom, #fff 0%, #eee 100%);
      border-radius: 50%;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
      width: 12px;
      height: 12px;
      position: absolute;
      top: 2px;
      left: 2px;
      transition: left 0.25s;
    }
  
    .toggle:hover .toggle-switch:before {
      background: linear-gradient(to bottom, #fff 0%, #fff 100%);
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    }
  
    .toggle-checkbox:checked+.toggle-switch {
      background: #56c080;
    }
  
    .toggle-checkbox:checked+.toggle-switch:before {
      left: 25px;
    }
  
    .toggle-checkbox {
      position: absolute;
      visibility: hidden;
    }
  
    .toggle-label {
      margin-left: 5px;
      position: relative;
      top: 2px;
    }
  
  
  
    .centeric {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .brothers {
      height: 20px;
      width: 20px;
      padding: 0;
      background: transparent;
      border-color: #ccc;
      border-width: .3px;
      margin: 5px;
  
    }
  
    .brothers>svg {
      padding-bottom: 4px;
    }
  
    .disable {
      display: none !important;
    }
  
    /* --------------------------------------01---------------------------------------------- */
  
    main {
      font-family: "Open Sans", Arial, sans-serif;
    }
  
    #main-table {
      width: 100%;
      background-color: transparent;
      width: 100%;
    }
  
  
    #main-table .tabulator-col,
    #main-table > div.tabulator-header > div > div.tabulator-calcs-holder > div {
      padding: 0.5% 0% 0.5% 0%;
      background-color: white;
      width: fit-content;
      color: black;
      font-size: small ;
      font-weight: 1000 !important;
      border-top: 1px solid rgb(224, 224, 224);
      border-bottom: 1px solid rgb(224, 224, 224);
      border-left: 1px solid rgb(224, 224, 224);
      border-right: 1px solid rgb(224, 224, 224);


    }
  
    #main-table > div.tabulator-header > div > div.tabulator-headers > div >div{
      padding-right: 3%;
    }
  
    /* #main-table>div.tabulator-tableholder>div>div>div:nth-child(11),
    #main-table>div.tabulator-header>div>div.tabulator-headers>div:nth-child(11) {
      border-right: 1px solid rgb(224, 224, 224);
    } */
  
    
  
    #centric>div:nth-child(1)>input[type="date"]:active {
      border: 1.2px solid rgba(52, 133, 253, 255) !important;
      box-shadow: 0.1px 0.1px 2px rgba(52, 133, 253, 255);
    }
  
    .tabulator-row .tabulator-cell,
    .tabulator .tabulator-header .tabulator-col {
      border: none;
    }
  
    .tabulator,
    /* .tabulator .tabulator-header, */
    #main-table>div.tabulator-header>div>div.tabulator-calcs-holder>div,
    #main-table>div.tabulator-header>div>div.tabulator-calcs-holder,
    #main-table>div.tabulator-header>div>div.tabulator-calcs-holder>div>div {
      background-color: rgb(241, 241, 241);
      border: none !important;
    }
  
    #main-table>div.tabulator-tableholder>div>div>div:nth-child(1)>div:nth-child(1)>a {
      color: rgba(52, 133, 253, 255);
    }
  
    .tabulator .tabulator-header {
      border-bottom: 1.5px solid rgb(183, 183, 183) !important;
      border-left: none !important;
      border-right: none !important;
      border-top: none !important;
      background-color: #efefef;
      
    }
  
    /* ! remove all border of the table */
    #main-table>div.tabulator-tableholder>div>div {
      border: none !important;
    }
  
    #main-table > div.tabulator-tableholder > div > div{
      padding-top: 0.3% !important;
    }
    /* add thin line on between the column  date and com... id */
    #main-table>div.tabulator-tableholder>div>div {
      border-bottom: 1px solid rgb(222, 222, 222) !important;
    }
  
    #main-table>div.tabulator-tableholder>div>div:nth-child(even) {
      background-color: rgba(252, 252, 252, 255) !important;
  
    }
  
    #main-table>div.tabulator-tableholder>div>div:hover {
      background-color: rgba(232, 244, 254, 255) !important;
  
  
    }
  
    #centric>div:nth-child(1)>button:nth-child(3)>svg>g {
      fill: black;
    }
  
    #centric>div:nth-child(1)>button:nth-child(2)>svg>g {
      fill: rgba(52, 133, 253, 255);
  
    }
  
    #centric>div:nth-child(1)>button:nth-child(4)>svg>g>g {
      fill: rgb(152, 152, 152);
    }
  
    .toggle-checkbox:checked+.toggle-switch {
      background: rgba(52, 133, 253, 255);
    }
  
    #centric>div {
      text-align: left;
      justify-content: left;
    }
  
  
    #centric>div:nth-child(1)>input.start {
      border-radius: 6px;
      border: 0.1px solid rgb(199, 199, 199);
  
      height: 28px;
    }
  
    #centric>div:nth-child(2)>span {
      font-size: 0.7rem !important;
    }
  
  
    #centric>div:nth-child(1)>input[type=number] {
      border: 1px solid rgba(52, 133, 253, 255);
      box-shadow: 0.1px 0.1px 2px rgba(52, 133, 253, 255);
      ;
      border-radius: 2px;
      height: 28px;
  
    }
  
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    input[type="number"] {
      -moz-appearance: textfield;
      border: 1px solid rgba(32,121,253,255) !important;
      /* Firefox */
    }
  
    
  
    #main-table>div.tabulator-tableholder>div>div>div.tabulator-cell.tabulator-editable {
      text-align: left !important;
      display: inline-flex !important;
      justify-content: left !important;
      width: 161px;
      height: 59px;
      align-items: center !important;
      color: rgba(52, 133, 253, 255);
      font-weight: 400;
    }
  
    #main-table>div.tabulator-header>div>div.tabulator-headers>div:nth-child(7)>div>div>div.tabulator-col-sorter>div,
    #main-table>div.tabulator-header>div>div.tabulator-headers>div:nth-child(3)>div>div>div.tabulator-col-sorter>div {
      visibility: hidden;
    }
  
    #main-table>div.tabulator-tableholder>div>div>div>div>button:nth-child(2),
    #main-table>div.tabulator-tableholder>div>div>div>div>button:nth-child(3) {
      margin: 0px 0px 0px 10px;
    }
  
    #main-table>div.tabulator-tableholder>div>div>div:nth-child(1) {
      width: 300px !important;
    }
  
    #main-table>div.tabulator-header>div>div.tabulator-headers>div:nth-child(1) {
      width: 300px !important;
    }
  
    #main-table>div.tabulator-tableholder>div>div:nth-child(1)>div:nth-child(3) {
      justify-content: left;
    }
  
    #main-table>div.tabulator-tableholder>div>div:nth-child(1)>div:nth-child(5) {
      width: 225px !important;
    }
  
    #centric>div:nth-child(1)>button>svg {}


    .what{
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  </style>



<main style="min-width:70vw; width: 95vw;padding-left: 8vw; margin-left:7vh ;">
    <div class="container-xl mx-5 ">
    <form action="." method="POST" id="post_data" hidden>

        <input type="text" name="para1">
        <input type="text" name="para2">
        <input type="text" name="para3">
        <input type="text" name="para4">
        <input type="submit" name="sending_data">
    
        {% csrf_token %}
    </form>
    <div class="row row-cols-1 row-cols-sm-1" >
    <div id="main-table" >
    </div>

    </div>
  </div>
    
</main>



<script type="text/javascript">
  console.log({{ keyword|safe }});


var selectfield =function(cell, formatterParams, onRendered){ //plain text value
    var data = cell.getRow().getData();
    return  data.placement_type ;

};



  var tabledata = [
    {id:1, name:"Oli Bob", progress:12, gender:"male", rating:1, col:"red", dob:"19/02/1984", car:1},
    {id:2, name:"Mary May", progress:1, gender:"female", rating:2, col:"blue", dob:"14/05/1982", car:true},
    {id:3, name:"Christine Lobowski", progress:42, gender:"female", rating:0, col:"green", dob:"22/05/1982", car:"true"},
    {id:4, name:"Brendon Philips", progress:100, gender:"male", rating:1, col:"orange", dob:"01/08/1980"},
    {id:5, name:"Margret Marmajuke", progress:16, gender:"female", rating:5, col:"yellow", dob:"31/01/1999"},
    {id:6, name:"Frank Harbours", progress:38, gender:"male", rating:4, col:"red", dob:"12/05/1966", car:1},
];

var table = new Tabulator("#main-table", {
    data:{{ keyword|safe }},           //load row data from array
    layout:"fitdata",      //fit columns to width of table
    responsiveLayout:false,  //hide columns that don't fit on the table
    addRowPos:"top",          //when adding a new row, add it to the top of the table
    history:true,             //allow undo and redo actions on the table
    pagination:"local",       //paginate the data
    paginationSize:10,         //allow 7 rows per page of data
    paginationCounter:"rows", //display count of paginated rows in footer
    rowFormatter:function(row){
    var data = row.getData();
    row.getElement().style.backgroundColor = "#fff";
    row.getElement().style.border = "thin solid #aaa";
    row.getElement().style.height = "2.4rem";

  },
    movableColumns:true, 
    initialSort:[ {column:"TARGET", dir:"asc"},],
    columnDefaults:{tooltip:true,},
    columns:[  
        {title:"TARGET", formatter:selectfield, hozAlign:"left",editor:false, frozen:true}, 
        {title:"BID", field:"required", width:250, hozAlign:"left", editor:false, frozen:true},
        {title:"AD GROUP", field:"adgroup_name", width:250, hozAlign:"left", editor:false },
        {title:"SPENDS", field:"adspend", width:250, hozAlign:"left", editor:false },
        {title:"SALES", field:"usdir", width:250, hozAlign:"left", editor:false },
        {title:"CTR", field:"ctr", width:250, hozAlign:"left", editor:false },
        {title:"TOTAL AD SALES", field:"revenue", width:250, hozAlign:"left", editor:false},
        {title:"TROAS", field:"troas", width:250, hozAlign:"left", editor:false },
        {title:"ROAS", field:"roas", width:250, hozAlign:"left", editor:false },
        {title:"TARGET TYPE", field:"category", width:250, hozAlign:"left", editor:false},
        {title:"CAMPAIGN", field:"campaign_name", width:250, hozAlign:"left", editor:false},
        {title:"CAMPAIGN TAGS", width:250, hozAlign:"left", editor:false},


    ],

    
});




</script>


{% endblock %}